.vscode/**
.vscode-test/**
src/**
.gitignore
.gitattributes
.yarnrc
webpack.config.js
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
node_modules
node_modules/**
out/**
.github/**
images/**
.editorconfig
.prettierrc
.npmrc
*.vsix
